body {
    width: auto;
    height: 100vh;
    background: linear-gradient(hsl(194, 1%, 85%), white, white,white,hsl(194, 1%, 85%)) no-repeat;
    background-size: cover;
    letter-spacing: 0.4vw;
}

#skip-button {
    font-size: 3vw;
    display: block;
    position: relative;
    left: 85vw;
    background-color: transparent;
    color: rgb(57, 57, 57);
    border: none;
}

#skip-button:hover {
    color: rgb(117, 117, 117);
}

#intro {
    height: 100vh;
}

.intro{
    visibility: hidden;
    position: absolute; 
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4vh;
    margin: auto;
    font-size: 2.5vw;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 1px;
    animation: typed-text linear forwards, text-cursor linear forwards , delete-text linear forwards;
}

#intro1a {
    top: -4vh;
    --text-width: 20vw;
    animation-duration: 2s, 500ms, 1s;
    animation-timing-function: steps(15, end);
    animation-delay: 0s, 0s, 9s;
    animation-iteration-count: 1, 16, 1;
}

#intro1b {
    top: 4vh;
    --text-width: 51.7vw;
    animation-duration: 4s, 500ms, 2s;
    animation-timing-function: steps(60, end);
    animation-delay: 2s, 2s, 7s;
    animation-iteration-count: 1, 12, 1;
}

#intro2a {
    top: -4vh;
    --text-width: 74.6vw;
    animation-duration: 5s, 500ms, 2s;
    animation-timing-function: steps(80, end);
    animation-delay: 11s, 11s, 24s;
    animation-iteration-count: 1, 12, 1;
}

#intro2b {
    top: 4vh;
    --text-width: 80.3vw;
    animation-duration: 5s, 500ms, 2s;
    animation-timing-function: steps(100, end);
    animation-delay: 16s, 16s, 22s;
    animation-iteration-count: 1, 12, 1;
}

#intro3 {
    --text-width: 73.9vw;
    animation-duration: 5s, 500ms, 2s;
    animation-timing-function: steps(90, end);
    animation-delay: 26s, 26s, 33s;
    animation-iteration-count: 1, 12, 1;
}

#intro4 {
    animation-name: typed-text, text-cursor;
    --text-width: 53.8vw;
    animation-duration: 4s, 500ms;
    animation-timing-function: steps(50, end);
    animation-delay: 35s, 35s;
    animation-iteration-count: 1, infinite;
}

@keyframes typed-text {
    from {width: 0;}
    to {width: var(--text-width);}
}
@keyframes delete-text {
    from{width: var(--text-width);}
    to {width: 0;}
}
@keyframes text-cursor {
    from{border-right-color: black;}
    to{border-right-color: transparent;}
}

#start-button {
    visibility: hidden;
    display: block;
    margin: auto;
    position: relative;
    top: 90vh;
    font-size: 2.2vh;
    border: none;
    background-color: transparent;
    color: rgb(57, 57, 57);
}

#game {
    display: none;
}

#results {
    display: none;
}